/* frontend/src/index.css */

/* Reset các kiểu mặc định và thiết lập box-sizing */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Thiết lập kiểu chữ cho các liên kết */
a {
  text-decoration: none;
  color: inherit;
}
